/******************************Module*Header*******************************\
* Module Name: wndstuff.rc
*
* Created: 09-Dec-2000 10:50:23
* Author: Kirk Olynyk [kirko]
*
* Copyright (c) 2000 Microsoft Corporation
*
\**************************************************************************/

#include "wndstuff.h"

MainMenu MENU
BEGIN
    MENUITEM "&Test",          MM_TEST
END
