/* --------------------------------------------------------------------
		   Copyright(c) Microsoft Corp., 2000
-------------------------------------------------------------------- */

#include "windows.h"
#include "busy.dlg"

END
