/**********************************************************************/
/**                       Microsoft Windows/NT                       **/
/**                Copyright(c) Microsoft Corp., 2000                **/
/**********************************************************************/

/*
    skeleton.rc
    Resource script for my application

    FILE HISTORY:
        beng        14-Feb-2000     Added a dialog
        beng        14-Mar-2000     Added BLT support
        beng        25-Jun-2000     Stripped
        beng        16-Mar-2000     Munged; carried into clients
*/

#include <windows.h>
#include <blt.rc>
#include "xstrskel.h"

TestIcon ICON "xstrskel.ico"

TestMenu MENU
BEGIN
  POPUP        "&Test"
    BEGIN
      MENUITEM "&Run tests",           IDM_RUN_TEST
    END
END

TestAccel ACCELERATORS
BEGIN
    VK_F1, IDM_RUN_TEST, VIRTKEY
END
